<footer class="footer">
    <div class="content has-text-centered">
        <p>
            &copy; {{ site.time | date: "%Y" }} Åndsliv
        </p>
        <p>
            <a href="https://github.com/Aandsliv/aandsliv">
                <span class="icon has-text-grey-light">
                    <i class="fa-brands fa-github fa-xl"></i>
                </span>
            </a>
        </p>
        <small>Siden blev sidst opdateret {{ site.time | date: "%Y-%m-%d %H:%M (%Z)" }}</small>
    </div>
</footer>