<section class="section">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title is-size-1 is-family-primary">Åndsliv</h1>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">

            </div>

            <div class="navbar-end">
                <div class="navbar-start">
                    <a class="navbar-item" {% if page.url=="/new.html" %}style="color: red;" {% endif %}>
                        Tidsskriftet
                    </a>

                    <a class="navbar-item">
                        Politik &amp; Samfund
                    </a>

                    <a class="navbar-item">
                        Kultur
                    </a>

                    <a class="navbar-item">
                        Indsendelser
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Om Åndsliv
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                Baggrund
                            </a>
                            <a class="navbar-item">
                                Kontakt
                            </a>
                            <hr class="navbar-divider" />
                            <a class="navbar-item">
                                Rapportér en fejl
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>