<!DOCTYPE html>
<html lang="da">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9VTQLR1QG6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-9VTQLR1QG6');
    </script>
    <meta name="google-site-verification" content="4NIN4LyA_eVZ53R6CJOzji3QIjq-Ga3e7mzlvZq8WCQ" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/bulma.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/fontawesome/css/fontawesome.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/fontawesome/css/brands.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/fontawesome/css/solid.min.css" | relative_url }}">
    <title>{{ page.title }} | Åndsliv </title>
    {% feed_meta %}
    {% seo %}
</head>

<body class="is-flex is-flex-direction-column" style="min-height: 100vh;">
    {% include navigation.html %}
    {% include content.html %}
    {% include footer.html %}
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const navbarBurger = document.querySelector(".navbar-burger");
        if (navbarBurger !== null) {
            navbarBurger.addEventListener("click", () => {
                const targetValue = navbarBurger.dataset.target;
                const targetElement = document.getElementById(targetValue);
                if (targetElement !== null) {
                    navbarBurger.classList.toggle("is-active");
                    targetElement.classList.toggle("is-active");
                }
            });
        }

        const tags = document.querySelectorAll("[data-link]");
        tags.forEach(tag => {
            const a = document.createElement("a");
            a.setAttribute("href", `/${tag.dataset.link}`);
            a.textContent = tag.textContent;
            a.classList = tag.classList;
            a.style = tag.style;
            tag.replaceWith(a);
        });
    });
</script>

</html>
