---
layout: default
title: Politik & Samfund
---
<h1 class="title">Seneste artikler</h1>
<div class="block">
    <div class="fixed-grid has-1-cols-mobile">
        <div class="grid">
            {% for post in site.posts %}
            {% if post.subsection == "politik-og-samfund" %}
            <div class="cell">
                <a href="{{ post.url | relative_url }}">
                    <div class="card">
                        <div class="card-content">
                            <div class="block">
                                <span data-link="{{ post.subsection }}" class="tag is-pulled-right">
                                    {{ post.subsection | capitalize }}
                                </span>
                                <p class="title is-spaced is-4">{{ post.title }}</p>
                                <p class="subtitle is-6">
                                    {{ post.date | date_to_string }} - {{ post.author }}
                                </p>
                                <div class="content">
                                    <p>{{ post.abstract }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>